<div class="container">
  <h1 class="title"><%= @article.title %></h1>
  <p><%= @article.body %></p>

  <hr />
  <% if @article.comments.size > 0 %>
    <h2>Comments</h2>
    <%= render @article.comments %>
  <% else %>
    <h4>No Comments Yet</h4>
  <% end %>

  <hr />
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>

<br />
<%= link_to "Edit", edit_article_path(@article) %>
&nbsp;|&nbsp;
<%= link_to "Destroy", article_path(@article),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
&nbsp;|&nbsp;
<%= link_to "Go Back", articles_path %>